# Données
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
*.so
*.egg-info/
dist/
build/
venv

# Environnement virtuel
venv/
env/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Notebooks (optionnel : si vous voulez ignorer les sorties)
# notebooks/.ipynb_checkpoints/
catboost_info/
